@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.search-form{
    display: block;
}

.search-form form{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 8px 12px;
}

.search-form form input{
    width: 45%;
    padding: 1rem;
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 24px;
    color: #1B6B93;
}

.search-form form input::placeholder{
    color: #1B6B93;
}

.search-form form input:nth-child(1){
    border-right: 1px solid #4FC0D0;
    border-radius: 6px 0 0 6px;
}

.search-form form button{
    width: 10%;
    background: transparent linear-gradient(90deg, #BEFBFF 0%, #4FC0D0 100%) 0% 0% no-repeat padding-box;
    color: #1B6B93;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .search-form form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .search-form form input{
        width: 100%;
        text-overflow: ellipsis;
    }
    .search-form form input:nth-child(1){
        border-right: none;
        border-bottom: 1px solid #4FC0D0;
        border-radius: 6px 6px 0 0;
    }
    .search-form form button{
        width: 100%;
    }

    
}
