
###> symfony/framework-bundle ###
#/.env.local.php
#/.env.*.local
#.env.local
#/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/config/jwt/private.pem
/config/jwt/public.pem
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

