@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3rem 4rem;
    z-index: 1000;
    background-color: #F4F4F4   ;
    margin-left: 250px;
}


header a{
    text-decoration: none;
    color: #000000;
    font-size: 35px;
    margin-right: 60px;
}