.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
    flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #EFF5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 100vh;
}

.w-700 {
    width: 700px;
}

.encadre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #4FC0D0;
    border-radius: 6px;
    margin: 0 auto;
}

.proposition {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 20px;

    .zone-vide {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;

        margin: 5px;
    }
}

.proposition:first-child {
    border-bottom: 1px solid #4FC0D0;
}

.proposition img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #4FC0D0;
    margin: 5px;
}

.proposition .text {
    padding: 5px;
}

.proposition h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1px;
}

.proposition p {
    font-size: 1rem;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px;
}

.suivant {
    padding: 20px;
}

.encadre button {
    background-color: #FF8D3E;
    border: none;
    border-radius: 6px;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.encadre-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #4FC0D0;
    border-radius: 6px;
    margin: 0 auto;
}

.encadre-2 button {
    background-color: #FF8D3E;
    border: none;
    border-radius: 6px;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    width: 45%;
}

.encadre2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #4FC0D0;
    border-radius: 6px;
    max-width: 50rem;
    margin: 0 auto;
    padding: 20px;
}

.choix {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #020202;
    border-radius: 15px;
    width: fit-content;
}

.choix a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.choix a:first-child {
    border-bottom: 1px solid #020202;
}

.choix a:hover:first-child {
    background-color: #4FC0D0;
    color: white;
    border-radius: 15px 15px 0 0;
}

.choix a:hover:last-child {
    background-color: #4FC0D0;
    color: white;
    border-radius: 0 0 15px 15px;
}

.choix a svg {
    margin: 10px;
}

.title {
    font: normal normal 600 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.ma-20 {
    margin: 0px 80px;
}

.ma-10 {
    margin: 20px 80px;
}

.ma-11 {
    margin: 20px 0px;
}

.p-30 {
    padding: 20px 40px;
}

.rdv_list {
    background: #EFF5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 40px 0px;
    width: 100%;
}

.motif_list{
    border: 1px solid #00000029;
    border-radius: 10px;
}

.motif{
    border-bottom: 1px solid #00000029;
}

.motif_list .motif label{
    padding: 20px 10px;
    margin: 0;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
}

.motif_list input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.motif_list .motif:last-child{
    border-bottom: none;
}


.motif_list .flex-column .motif input[type="radio"]:checked+label {
    background-color: #4FC0D0;
    color: white;
}

.motif_list .motif:first-child input[type="radio"]:checked+label {
    border-radius: 10px 10px 0 0;
}

.motif_list .motif:last-child input[type="radio"]:checked+label{
    border-radius: 0 0 10px 10px;
}

.patient_list{
    border: 1px solid #00000029;
    border-radius: 10px;
}

.patient_list label{
    border-bottom: 1px solid #00000029;
    padding: 20px 10px;
    margin: 0;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.patient{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.patient input{
    width: 20px;
}

.patient_list label:last-child{
    border-bottom: none;
}


.patient_list input[type="radio"]:first-child+label {
    border-radius: 10px 10px 0 0;
}

.patient_list input[type="radio"]:checked+label:last-child {
    border-radius: 0 0 10px 10px;
}

.proposition2 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.proposition {
    border-bottom: 1px solid #4FC0D0;
}

.proposition2 svg,
.proposition svg {
    margin: 10px;
    width: 48px;
    height: 48px;
}

.proposition2 button{
    background-color: #FF8D3E;
    border: none;
    border-radius: 0px;
    padding: 4px;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    height: 56px;
    cursor: pointer;
    width: fit-content;
}

.proposition2 .flex-center input{
    border: .5px solid #707070;
}


@media screen and (max-width: 768px) {

    .ma-20 {
        margin: 0px 20px;
    }

    .w-700 {
        width: 300px;
    }

    .ma-10 {
        margin: 10px 20px;
    }

    .ma-11 {
        margin: 10px 0px;
    }

    .p-30 {
        padding: 10px 20px;
    }


}