@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3rem 4rem;
    background-color: #4FC0D0;
    z-index: 1000;
}

.row{
    display: flex;
    flex-direction: row;
}

.groupinput {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.white-btn {
    background-color: #fff;
    color: #1B6B93;
    font-size: 18px;
    line-height: 22px;
    padding: 1rem;
    border-radius: 6px;
}

.connexion {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.connexion a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: .5rem;
    line-height: 24px;
}

.connexion .gerer {
    font-size: 18px;
    color: #E0E0E0;
    line-height: 22px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

#section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3rem 4rem;
    background-color: #4FC0D0;
}

#section1 h1 {
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    line-height: 67px;
    width: 70%;
    margin-bottom: 3rem;
}

#section1 p {
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    line-height: 49px;
    margin-bottom: 3rem;
}

#search {
    width: 100%;
}

.group-cadre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3rem 4rem;
    background: linear-gradient(180deg, #4FC0D0 0%, #4FC0D0 30%, #fff 30%, #fff 100%);
}

.cadre {
    width: 30%;
    background-color: #E4FEFF;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadre .text {
    align-items: flex-start;
}

.cadre h2 {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    line-height: 30px;
    margin: 1rem 0;
}

.cadre p {
    font-size: 20px;
    color: #000;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 1rem;
}

.cadre a {
    font: normal normal 600 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #1B6B93;
    text-decoration: none;
}

#section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3rem 4rem;
    background-color: #fff;
}

#section2 .texte {
    width: 60%;
}

#section2 h2 {
    font: normal normal 600 34px/39px Montserrat;
    letter-spacing: 0;
    margin-bottom: 1rem;
}

#section2 p {
    font: normal normal 400 28px/34px Montserrat;
    letter-spacing: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 3rem 2rem;
    background-color: #FCFCFC;
}

footer h3 {
    font: normal normal bold 35px/47px Montserrat;
    letter-spacing: 0px;
    color: #4FC0D0;
    margin-bottom: 3rem;
}

footer h4 {
    font: normal normal 600 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #1B6B93;
    margin-bottom: 10px;
}

.speciality {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.speciality p {
    font: normal normal 400 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #000;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.contact h4 {
    font: normal normal 600 30px/37px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 10px;
}

.contact a {
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 1rem;
}

.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;
}

.copy a {
    text-decoration: underline;
    font: normal normal 600 24px/27px Montserrat;
    letter-spacing: 0px;
    color: #1B6B93;
}

.copy p {
    font: normal normal 400 24px/27px Montserrat;
    letter-spacing: 0px;
    color: #000;
}

@media screen and (max-width: 768px) {
    header {
        padding: 2rem 2rem;
        flex-direction: column;
    }

    header a {
        margin-bottom: 1rem;
        font-size: 26px;
    }

    .connexion {
        margin-left: 10px;
        margin-top: 1rem;
    }

    .connexion a {
        font-size: 16px;
        text-align: center;
    }

    .connexion .gerer {
        font-size: 14px;
    }

    #section1 {
        flex-direction: column;
        padding: 2rem 2rem;
    }

    #section1 h1 {
        font-size: 40px;
        line-height: 49px;
        width: 100%;
        margin-bottom: 2rem;
    }

    #section1 p {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 2rem;
    }

    .groupinput{
        flex-direction: column;
    }

    .row{
        flex-direction: column;
        align-items: center;
    }

    .row button{
        margin-top: 10px;
    }

    .ml-5{
        margin-left: 0;
    }

    .group-cadre {
        flex-direction: column;
        padding: 2rem 2rem;
    }

    .cadre {
        width: 100%;
        margin-bottom: 2rem;
    }

    .cadre h2 {
        font-size: 20px;
        line-height: 24px;
        margin: 1rem 0;
    }

    .cadre p {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 1rem;
    }

    .cadre a {
        font-size: 16px;
    }

    #section2 {
        flex-direction: column;
        padding: 2rem 2rem;
    }

    #section2 .texte {
        width: 100%;
    }

    #section2 h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 1rem;
    }

    #section2 p {
        font-size: 20px;
        line-height: 24px;
    }

    #section2 img {
        width: 100%;
    }

    footer {
        padding: 2rem 2rem;
    }

    footer h3 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 2rem;
    }

    footer h4 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    footer p {
        font-size: 16px;
        line-height: 19px;
    }

    .contact {
        margin-top: 1rem;
        margin-right: 0;
    }

    .contact h4 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .contact a {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 1rem;
    }

    .copy {
        flex-direction: column;
    }

    .copy a {
        margin-bottom: 1rem;
        font-size: 20px;
    }

    .copy p {
        margin-bottom: 1rem;
        font-size: 20px;
        text-align: center;
    }

    .speciality {
        flex-direction: column;
    }

}

.hoverbox {
    display: none;
}