.proposition2 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.proposition {
    border-bottom: 1px solid #4FC0D0;
}

.proposition2 svg,
.proposition svg {
    margin: 10px;
    width: 48px;
    height: 48px;
}

.proposition2 button{
    background-color: #FF8D3E;
    border: none;
    border-radius: 0px;
    padding: 4px;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    height: 56px;
    cursor: pointer;
    width: fit-content;
}

.proposition2 .flex-center input{
    border: .5px solid #707070;
}